<!DOCTYPE html>
<html lang="en">
    <head>
   		<title>Robeco BlockChain Panel</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">       
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="libraries/bootstrap-3.3.7.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">       
</head>

<body>       
    <div class="container">
    <div class="row">
    	    <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1primary" data-toggle="tab">Admin</a></li>
                            <li><a href="#tab2primary" data-toggle="tab">Wallet</a></li>        
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1primary">
                      		<div class="row">
                                <div class="col-md-8">
                                	<div id="latest-transactions"><b>Latest Transactions</b></div>
                                </div>
                                <div class="col-md-4">
                                	<div id="find-block"><b>Find a Block Address</b></div>
                           		</div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-8">
                               		<div id="latest-transactions-table">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Block</th>
                                                    <th>TimeStamp</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Nick</td>
                                                    <td>Nick</td>
                                                    <td>Nick</td>
                                                    <td>5</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Nick</td>
                                                    <td>Nick</td>
                                                    <td>Nick</td>
                                                    <td>5</td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Nick</td>
                                                    <td>Nick</td>
                                                    <td>Nick</td>
                                                    <td>5</td>
                                                </tr>
                                            </tbody>
                                       </table>
                            		</div>                          
                            	</div>     
                       		
                         			<div class="col-md-4">
                                     	<div id="custom-search-input">
                                        	<div class="input-group">
                                                <input type="text" class="search-query form-control" placeholder="Search" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-danger" type="button">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </span>      
                                           </div>  
                                        </div>                                                     
                                      
                                        <div id="info-bar">
                                             <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td>Network</td>
                                                        <td><span class="glyphicon glyphicon-ok" style="color:green"</span> Online</td>
                                                    </tr>
                                                     <tr>
                                                        <td>Total Money</td>
                                                        <td><span class="glyphicon glyphicon-bitcoin"</span> 1,000,000</td>
                                                    </tr>
                                                     <tr>
                                                        <td>Current Block</td>
                                                        <td><span class="glyphicon glyphicon-unchecked"</span> #1541</td>
                                                    </tr>
                                                     <tr>
                                                        <td>Current Time</td>
                                                        <td><span class="glyphicon glyphicon-time"</span> 15:32:45</td>
                                                    </tr>
                                            	</tbody>
                                        	</table>
                                        </div>
                                    </div>
                            	</div>                                  
                        	</div>  
                            
                            <div class="row">
                            	<div class="col-md-12">
                            		<img src="images/ethereum-logo.jpg" class="img-responsive" alt="ethereum-logo">
                            	</div>
                            </div>
                            
                            
                            
                      	</div>
                        <div class="tab-pane fade" id="tab2primary">
                      
                      	</div>
                    </div>
                </div>
            </div>
        </div>
	</div>

	<script language="javascript" type="text/javascript" src="libraries/jquery-3.1.1.min.js"></script>	
    <script language="javascript" type="text/javascript" src="libraries/bootstrap-3.3.7.min.js"></script>	
</body>
</html>